{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CRM</title>

    <link rel="stylesheet" href="{% static "ext/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "ext/bootstrap/dist/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "ext/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "ext/sb-admin-v2/css/sb-admin.css" %}" >
    <link rel="stylesheet" href="{% static "ext/knockback-navigators/knockback-navigators.css" %}" >
    <link rel="stylesheet" href="{% static "ext/backgrid/lib/backgrid.css" %}" >
    <link rel="stylesheet" href="{% static "ext/backgrid-paginator/backgrid-paginator.css" %}" >
    <link rel="stylesheet" href="{% static "ext/backgrid-filter/backgrid-filter.css" %}" >
    <link rel="stylesheet" href="{% static "ext/backgrid-moment-cell/backgrid-moment-cell.css" %}" >
    <link rel="stylesheet" href="{% static "ext/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css" %}" >

    <link rel="stylesheet" href="{% static "common.css" %}" >
</head>
<body>
    <div id="wrapper">

        <nav id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Backoffice CRM</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <button value="contacts/new" class="btn btn-primary navigate">New contact</button>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ user.username }}
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url "logout" %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#/contacts"><i class="fa fa-dashboard fa-fw"></i> Contacts</a>
                        </li>
                        <li>
                            <a href="#/users"><i class="fa fa-user fa-fw"></i> Users</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper" class="page page-navigator">
            <div id="dashboard-pane" class="row pane">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
            <!-- /.row -->

            <div id="users-pane" class="row pane">
                <div class="col-lg-12">
                    <h1 class="page-header">Users</h1>
                    <div id="users-table">
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div id="contacts-pane" class="row pane">
                <div class="col-lg-12">
                    <h1 class="page-header">Contacts</h1>
                    <div id="contacts-table"></div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- templates -->
    <script type="text/html" id="edit-contact-template">
        <div id="edit-contact-pane" class="row pane">
            <form role="form" class="form-horizontal">
                <div class="col-lg-12">
                    <h2 data-bind="text: title"></h2>
                </div>

                <div class="col-lg-6">
                    <div class="form-group" data-bind="showErrorsFor: first_name">
                        <label for="first-name" class="col-sm-3 control-label">First name</label>
                        <div class="col-sm-9">
                            <input type="text" id="first-name" class="form-control" placeholder="First name" data-bind="value: first_name, valueUpdate: 'input'">
                        </div>
                    </div>
                    <div class="form-group" data-bind="showErrorsFor: last_name">
                        <label for="last-name" class="col-sm-3 control-label">Last name</label>
                        <div class="col-sm-9">
                            <input type="text" id="last-name" class="form-control" placeholder="Last name" data-bind="value: last_name, valueUpdate: 'input'">
                        </div>
                    </div>
                    <div class="form-group" data-bind="showErrorsFor: emails">
                        <label for="emails" class="col-sm-3 control-label">Emails</label>
                        <div class="col-sm-9">
                            <input type="text" id="emails" class="form-control" placeholder="Emails" data-bind="tags: emails">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phone-number" class="col-sm-3 control-label">Phone number</label>
                        <div class="col-sm-9">
                            <input type="text" id="phone-number" class="form-control" placeholder="Phone number">
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary" data-bind="click: saveAndReturn">Save and return</button>
                            <button type="submit" class="btn" data-bind="click: saveAndShow">Save and show</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </script>
    <script type="text/html" id="show-contact-template">
        <div id="show-contact-pane" class="row pane">
            <form role="form" class="form-horizontal">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span data-bind="text: first_name"></span> <span data-bind="text: last_name"></span></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center">
                                    <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                                                                    class="img-circle">
                                </div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Created at:</td>
                                            <td data-bind="dateFromNow: create_time"></td>
                                        </tr>
                                        <tr>
                                            <td>Modified at:</td>
                                            <td data-bind="dateFromNow: modify_time"></td>
                                        </tr>
                                         <tr>
                                            <td>Email</td>
                                            <td data-bind="foreach: emails"><a data-bind="attr: { href: 'mailto:' + $data }, text: $data"></a></td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number</td>
                                            <td>123-4567-890(Landline)<br>555-4567-890(Mobile)</td>
                                        </tr>

                                        </tbody>
                                    </table>

{#                                    <a href="#" class="btn btn-primary">My Sales Performance</a>#}
{#                                    <a href="#" class="btn btn-primary">Team Sales Performance</a>#}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-bind="click: edit" data-original-title="Edit this contact" data-toggle="tooltip" type="button"
                               class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this contact" data-toggle="tooltip" type="button"
                               class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>

                    </div>

                    <div class="panel panel-default widget">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span>

                            <h3 class="panel-title">Recent events</h3>
                            <span class="label label-info" data-bind="text: eventsCount"></span>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group" data-bind="foreach: events">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-1">
                                            <img src="http://placehold.it/80" class="img-circle img-responsive" alt=""/>
                                        </div>
                                        <div class="col-xs-10 col-md-11">
                                            <div>
                                                <span data-bind="text: description"></span>

                                                <div class="mic-info">
                                                    By <span data-text="text: author"></span> on <span data-bind="date: event_time"></span>
                                                </div>
                                            </div>
{#                                            <div class="comment-text">#}
{#                                                Awesome design#}
{#                                            </div>#}
                                            <div class="action">
                                                <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button" class="btn btn-success btn-xs" title="Approved">
                                                    <span class="glyphicon glyphicon-ok"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
{#                            <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span#}
{#                                    class="glyphicon glyphicon-refresh"></span> More</a>#}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </script>

    <!-- Scripts go here -->

    <script src="{% static "ext/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "ext/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static "ext/html5shiv/dist/html5shiv.min.js" %}"></script>
      <script src="{% static "ext/respond/dest/respond.min.js" %}"></script>
    <![endif]-->

    <script src="{% static "ext/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "ext/sb-admin-v2/js/sb-admin.js" %}"></script>

    <script src="{% static "ext/underscore/underscore.js" %}"></script>
    <script src="{% static "ext/backbone/backbone.js" %}"></script>
    <script src="{% static "ext/backbone-associations/backbone-associations.js" %}"></script>
    <script src="{% static "ext/backbone.paginator/lib/backbone.paginator.js" %}"></script>
    <script src="{% static "ext/backgrid/lib/backgrid.js" %}"></script>
    <script src="{% static "ext/backgrid-paginator/backgrid-paginator.js" %}"></script>
    <script src="{% static "ext/backgrid-filter/backgrid-filter.js" %}"></script>
    <script src="{% static "ext/moment/min/moment-with-langs.min.js" %}"></script>
    <script src="{% static "ext/backgrid-moment-cell/backgrid-moment-cell.js" %}"></script>

    <script src="{% static "ext/bootstrap-growl/jquery.bootstrap-growl.js" %}"></script>
    <script src="{% static "ext/bootstrap-tokenfield/dist/bootstrap-tokenfield.js" %}"></script>

    <script src="{% static "ext/knockout/knockout.js" %}"></script>
    <script src="{% static "ext/knockback/knockback.js" %}"></script>
    <script src="{% static "ext/knockback-navigators/knockback-page-navigator-panes.js" %}"></script>

    <script src="{% url 'django.views.i18n.javascript_catalog'  packages='rest2backbone'%}"></script>
    <script src="{% static "js/rest-common.js" %}"></script>
    <script src="{% url 'rest-api' %}"></script>
    <script src="{% static "js/api-forms.js" %}"></script>

    <!-- application scripts -->
    <script src="{% static "common.js" %}"></script>
    <script src="{% static "app.js" %}"></script>
    <script src="{% static "users.js" %}"></script>
    <script src="{% static "contacts.js" %}"></script>
    <script src="{% static "navigator.js" %}"></script>
    <script src="{% static "notifications.js" %}"></script>
</body>
</html>